@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Reset and base styles START */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: chocolate;
}

a:focus, a:active {
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img, svg, video {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

html, body {
    height: 100%;
}

/* Reset and base styles END */

/* container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* wrapper */

.wrapper {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

/* header */

.header {
    background-color: #151515;
    color: #fff;
}

.header_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 40px;
    padding-bottom: 45px;
}

.header_menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.header-main {
    /* background-color: transparent; */
    /* color: #151515; */
}

/* main */

.main {
    flex-grow: 1;
}

/* footer */

.footer {
    min-height: 545px;
    padding-bottom: 30px;

    font-size: 12px;

    background-color: #151515;
    color: #fff;
}

.footer_inner {
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;

    margin: 50px 0;
}

.footer_menu-inner {
    padding-bottom: 20px;
}

.footer_menu-inner:last-child , .footer_menu-inner:first-child {
    padding-bottom: 0;
}

.footer_menu-p {
    margin-bottom: 40px;
    font-size: 26px;
}

.footer_menu-link {
    font-size: 16px;
}

.footer_logos {
    max-width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 39px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 52px;
    margin-bottom: 30px;
}

.footer_info-text {
    max-width: 800px;

    text-align: center;
}

.footer_nav {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
